.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  /*visibility: hidden;
  opacity: 0;*/
  transition: visibility 0.5s, opacity 0.5s ease;
  z-index: 1;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  position: relative;
  padding: 20px 36px;
}

.popup__container_confirmation {
  height: 180px;
}

.popup__container_avatar {
  height: 280px;
}

.popup__container-image {
  padding: 0;
  background-color: transparent;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  line-height: 0;
}

.modal-image {
  max-width: 75vw;
  max-height: 75vh;
  display: block;
}

.modal__caption {
  color: white;
  font-size: 12px;
  margin-top: 10px;
  text-align: left;
}

.popup__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.popup__title {
  color: #000000;
  font-weight: 900;
  font-size: 24px;
}

.popup__label {
  padding-top: 40px;
}

.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0;
}

.popup__input::placeholder {
  font-size: 14px;
}

.popup__input_type_error {
  color: #ff0000;
  border-bottom: 1px solid #ff0000;
}

.popup__error {
  display: none;
  color: red;
}

.popup__error_visible {
  display: block;
  border: none;
  margin: 0;
  font-size: 12px;
}

.popup__save-button {
  padding: 0;
  margin-top: 40px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  height: 50px;
}

.popup__save-button_confirmation {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
}

.popup__save-button_avatar {
  margin-top: 60px;
}

.popup__save-button_disabled {
  background-color: #ffffff;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  color: rgba(0, 0, 0, 0.2);
}

.popup__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background: transparent url("../images/close-button.svg") center no-repeat;
  background-size: 35px 35px;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup-confirmation,
.popup-edit-avatar {
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 900;
  font-size: 24px;
  padding: 16px 8px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-width: 601px) {
  .popup {
    max-width: 88%;
    margin: auto 20px auto 20px;
  }

  .popup__container {
    width: 282px;
    height: 322px;
    padding: 10px 12px;
  }

  .modal-image {
    max-width: 100%;
  }

  .popup__title {
    font-size: 18px;
  }

  .popup__close-button {
    top: -20px;
    right: 1px;
    width: 26px;
    height: 26px;
  }

  .popup__container_confirmation {
    height: 140px;
  }
}
